<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Camera features -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <!-- Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Audio Recording Permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Storage for audio files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Login Activity - First Screen (LAUNCHER) -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:label="Create Account" />

        <!-- Main Activity - Home Screen after login -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Aura - Home" />

        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false"
            android:label="Dashboard" />

        <activity
            android:name=".activities.UsageTrackingActivity"
            android:exported="false"
            android:label="Phone Usage Tracking" />

        <activity
            android:name=".activities.SupportResourcesActivity"
            android:exported="false"
            android:label="Support Resources" />

        <activity
            android:name=".activities.BreathingExerciseActivity"
            android:exported="false"
            android:label="Breathing Exercise" />



        <activity
            android:name=".activities.GratitudeActivity"
            android:exported="false"
            android:label="Gratitude Journal" />


        <activity
            android:name=".activities.ChatbotActivity"
            android:exported="false"
            android:label="Aura Assistant" />

        <activity
            android:name=".activities.VentActivity"
            android:exported="false"
            android:label="Anonymous Vent Space" />

        <activity
            android:name=".activities.MultimodalCheckInActivity"
            android:exported="false"
            android:label="Multimodal Check-In"
            android:screenOrientation="portrait" />




        <activity
            android:name=".activities.MoodTrackingActivity"
            android:exported="false"
            android:label="Track Your Mood"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity for Up navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>
